.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.title {
  font-size: 40px;
  transition: all .25s;
  color: white;
}

.title:hover {
  text-shadow: 0 0 5px white;
  transition: all .25s;
}

.control-trigger {
  transition: all .25s;
  color: #09d3ac;
  cursor: pointer;
}

.control-trigger:hover {
  transition: all .25s;
  text-shadow: 0 0 5px #31ffd6;
  color: #31ffd6;
}

.App-link {
  color: #09d3ac;
}
